<div class="wrapper-home">
  <section class="home-banner">
    <img src="assets/img/banner/banner-1.jpeg" alt="Imagen del equipo de Leon Distribuciones">
  </section>
  <section class="home-slide">
    <img src="assets/img/casas-comerciales/uilever.png" alt="">
    <img src="assets/img/casas-comerciales/nutirum.png" alt="">
    <img src="assets/img/casas-comerciales/jhonson.png" alt="">
    <img src="assets/img/casas-comerciales/JGB.png" alt="">
    <img src="assets/img/casas-comerciales/gloria.jpg" alt="">
    <img src="assets/img/casas-comerciales/energizer.svg" alt="">
  </section>
</div>
