<nav class="wrapper-navbar">
  <img class="img-logo-navbar" src="assets/img/logo/logo-leon-2.png" alt="Logo leon">
  <div class="main-routing-navbar">
    <span class="span-router" routerLink="home" routerLinkActive="active">Inicio</span>
    <span class="span-router" routerLink="conocenos" routerLinkActive="active">Conócenos</span>
    <span class="span-router" routerLink="trabaja-con-nosotros" routerLinkActive="active">Trabaja con nosotros</span>
    <span class="span-router" routerLink="contactanos" routerLinkActive="active">Contáctanos</span>
  </div>
</nav>
